<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.diabestes_care_app">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:resource="@drawable/ic_notification"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Diabestes_Care_App">
        <activity
            android:name=".Ui.Sing_In.RestPassword_P.RestPassword4"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_In.RestPassword_P.RestPassword3"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_In.RestPassword_P.RestPassowrd2"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_In.RestPassword_P.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".Ui.Splah_Screens.Splash_Screen_1"
            android:exported="false" />
        <activity
            android:name=".Schedule_Notification.Local_Notification"
            android:exported="false" />
        <activity
            android:name=".Users_Notification"
            android:exported="false" />
        <activity
            android:name=".Ui.Patient_all.Sections.Consulation.Consultation_Request"
            android:exported="false" />
        <activity
            android:name=".Ui.Doctor_all.Patient_Profile_D"
            android:exported="false" />
        <activity
            android:name=".Ui.Doctor_all.Secation.Follow.PatinetData.Patent_Report_d"
            android:exported="false" />
        <activity
            android:name=".chat.Chat_D"
            android:exported="false" />
        <activity
            android:name=".Ui.Patient_all.Sections.Self_Care.Content.Content"
            android:exported="false" />
        <activity
            android:name=".Ui.Patient_all.Sections.Self_Care.Self_Care"
            android:exported="false" />
        <activity
            android:name=".chat.Chat"
            android:exported="false" />
        <activity
            android:name=".Ui.Patient_all.Doctor_Profile_P"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_up_pages.Doctor.Sing_up_5_D"
            android:exported="false" />
        <activity
            android:name=".Ui.Patient_all.Setting_P.Edit_Profile_P"
            android:exported="false" />
        <activity
            android:name=".Ui.Patient_all.Setting_P.Help"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_up_pages.Patient.Sing_Up_1_P"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_up_pages.Patient.Sing_Up_2_P"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_up_pages.Patient.Sing_Up_3_P"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_up_pages.Patient.Sing_Up_4_P"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_up_pages.Patient.Sing_Up_5_P"
            android:exported="false" />
        <activity
            android:name=".Ui.Patient_all.Home_Patient"
            android:exported="false" />
        <activity
            android:name=".Ui.Patient_all.Sections.Reports.Patient_Files"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_up_pages.Doctor.Sing_Up_1_D"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_up_pages.Doctor.Sing_Up_2_D"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_up_pages.Doctor.Sing_Up_3_D"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_up_pages.Doctor.Sing_Up_4_D"
            android:exported="false" />
        <activity
            android:name=".Ui.Doctor_all.Home_Doctor"
            android:exported="false" />
        <activity
            android:name=".Ui.Patient_all.Sections.Doses.ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_In.Sing_In"
            android:exported="false" />
        <activity
            android:name=".Ui.Doctor_all.Setting_D.Edit_Profile_D"
            android:exported="false" />
        <activity
            android:name=".Ui.Sing_up_pages.character_choice_screen"
            android:exported="false" />
        <activity
            android:name=".Ui.Patient_all.Sections.Self_Care.Content.Content_f"
            android:exported="false" />
        <activity
            android:name=".Ui.Splah_Screens.Loading_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".Notification_Controller.LocalNotification.AlarmReceiver" />

        <service
            android:name=".NotificationSender.FirebaseMessagingService"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Ui.Patient_all.Sections.Doses.ui.AddEditAlarmActivity" />
        <activity
            android:name=".Ui.Patient_all.Sections.Doses.ui.AlarmLandingPageActivity"
            android:theme="@style/AlertLandingPageTheme" />

        <service android:name=".Ui.Patient_all.Sections.Doses.service.LoadAlarmsService" />

        <receiver android:name=".Ui.Patient_all.Sections.Doses.service.LoadAlarmsReceiver" />
        <receiver android:name=".Ui.Patient_all.Sections.Doses.service.AlarmReceiver" />
        <receiver
            android:name=".Ui.Patient_all.Sections.Doses.service.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>